body {
    font-family: sans-serif;
    background-color: #dde1e7;
  
    margin: 0 auto;

    max-width: 600px;

}

#root {

    min-height:100vh;

}


.header {

    top: 0;

    margin: 0 auto;

    max-width: 600px;
    position:fixed;
    overflow: hidden;

    background: #dde1e7;
    box-shadow: -3px -3px 7px #ffffff73,
    3px 3px 3px rgba(94, 104,121,0.3);

    width: 100%; 
    display: flex;
    justify-content: wrap;
    flex-direction: column;

}

.header__top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main {

    flex-grow: 1;
    display: flex;
    flex-direction: column;
}


.footer {


    height: 8vh;
    bottom: 0;

    margin: 0 auto;

    max-width: 600px;
    position:fixed;
    overflow: hidden;

    background: #dde1e7;
    box-shadow: -3px -3px 7px #ffffff73,
    3px 3px 3px rgba(94, 104,121,0.3);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;


}

.button__tryAgain{
    cursor: pointer;
    content: '';
    padding: 0.5rem;
    width: 50%;
    background: linear-gradient(90deg,rgb(255, 79, 79),rgb(0, 119, 255),yellow,rgb(248, 193, 91));
    animation: slidein 5s infinite alternate infinite;
}

@keyframes slidein {
    0%{ background-position: 0%; 
    }
    100%{ background-position: 100%; 
    }
}


.main__top {

height: 50vh;
margin-top: 10vh;
    flex-grow: 1;


}


.main__center {
    height: 10vh;
     margin-bottom: 0.5rem; 

}

.main__bottom {
    margin-bottom: 10vh;

}

.init {
    
    margin-top: 40vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}



.mastermind__template {


    height: 8vh;
      display: flex;
      justify-content: center;
      align-items: center;
    
    margin-bottom: 0.5rem;


    box-shadow: -3px -3px 7px #ffffff73,
    3px 3px 3px rgba(94, 104,121,0.3)
}


.user {

    height: 12vh;
}

.mastermind__left {

    width: 10%;
    margin-left: 1rem;
}

.mastermind__right {

    width: 20%;

    display: flex;
    flex-flow: row wrap; 
    justify-content: center; 
    align-items: center;
    
}

.mastermind__center {

    width: 70%;

    display: flex;
    justify-content: space-evenly;

}

#validTry{


    cursor: pointer;
}


.colorsPalette {

    margin-top: 40vh;

    display: flex;
    justify-content: space-evenly;


    background-color:  none;
}
  



.circle {
    display: inline-block;

    background: #646161;
    box-shadow: inset 6px 6px 6px #272323, 
                inset -6px -12px 12px #6e6e6e;


    border-radius: 50%;

    padding: 0.9rem;
}

.circle__game:hover {

    box-shadow: inset 6px 6px 6px #272323, 
            rgb(0, 0, 0) 0 0 2rem;
  }

  .circle__game:active {

    box-shadow: inset 6px 6px 6px #272323, 
            rgb(0, 0, 0) 0 0 2rem;
  }

    .circle__help {
  
      padding: 0.2rem;
      
    }

    .circle__help--black{
        border:2px solid black;
        background-color: black;
        padding: 0.4rem;
        background: radial-gradient(circle at 0.2rem 0.2rem, black, #000);
    }
  
    .circle__help--white{
  
        border:1px solid black;
        background-color: white;
        padding:0.4rem;
        box-shadow: 0rem 0rem 0.2rem white;
    }

    
    .circle__game { 
  
        cursor: pointer;

    }

    .circle__game--red{
  

        background: radial-gradient(circle at 65% 15%, 
        white 1px, 
        rgb(255, 79, 79) 10%, 
        rgb(255, 0, 0) 60%, 
        rgb(255, 87, 87) 100%);  
        padding: 0.9rem;
        box-shadow: none;
    }

  
    .circle__game--blue{
  
        background: radial-gradient(circle at 65% 15%, 
        white 1px, 
        rgb(0, 119, 255) 10%, 
        blue 60%, 
        rgb(0, 119, 255) 100%);  
        padding:0.9rem;
        box-shadow: none;
    }
  
    .circle__game--yellow{
  
        background: radial-gradient(circle at 65% 15%, 
        white 1px, 
        yellow 10%, 
        rgb(255,215,0) 60%, 
        yellow 100%);  
        padding:0.9rem;
        box-shadow: none;
    }
  
    .circle__game--green{
  
        background: radial-gradient(circle at 65% 15%, 
        white 1px, 
        rgb(9, 255, 0) 10%, 
        rgb(36, 153, 0) 60%, 
        rgb(9, 255, 0) 100%);  
        padding:0.9rem;
        box-shadow: none;
    }
  
    .circle__game--purple{
  
        background: radial-gradient(circle at 65% 15%, 
        white 1px, 
        rgb(208, 128, 255) 10%, 
        rgb(140, 0, 255) 60%, 
        rgb(197, 96, 255) 100%);  
        padding:0.9rem;
        box-shadow: none;

    }

    .circle__game--pink{
  
        background: radial-gradient(circle at 65% 15%, 
        white 1px, 
        rgb(250, 116, 250) 10%, 
        rgb(225, 0, 255) 60%, 
        rgb(253, 136, 253) 100%);  
        padding:0.9rem;
        box-shadow: none;
    }

    .circle__game--orange{
  
        background: radial-gradient(circle at 65% 15%, 
        white 1px, 
        rgb(248, 193, 91) 10%, 
        orange 60%, 
        rgb(255, 202, 102) 100%);  
        padding:0.9rem;
        box-shadow: none;

    }

    .circle__game--lightskyblue{
  
        background: radial-gradient(circle at 65% 15%, 
        white 1px, 
        lightskyblue 10%, 
        rgb(0, 157, 255) 60%, 
        lightskyblue 100%);  
        padding:0.9rem;
        box-shadow: none;

    }
  
    .circle__game--brown{
  
        background: radial-gradient(circle at 65% 15%, 
        white 1px, 
        brown 10%, 
        rgb(163, 74, 74) 60%, 
        brown 100%);  
        padding:0.9rem;
        box-shadow: none;

    }

    .circle__game--grey{
  
        background: radial-gradient(circle at 65% 15%, 
        white 1px, 
        grey 10%, 
        rgb(194, 194, 194) 60%, 
        grey 100%);  
        padding:0.9rem;
        box-shadow: none;

    }

    .circle__game--white{
  
        background: radial-gradient(circle at 65% 15%, 
        white 1px, 
        rgb(247, 247, 247) 10%, 
        rgb(219, 219, 219) 60%, 
        rgb(247, 247, 247) 100%);  
        padding:0.9rem;
        box-shadow: none;

    }

    .circle__game--black{
  
        background: radial-gradient(circle at 65% 15%, 
        white 1px, 
        rgb(0, 0, 0) 10%, 
        rgba(0, 0, 0, 0.479) 60%, 
        rgb(0, 0, 0) 100%);  
        padding:0.9rem;
        box-shadow: none;

    }

